body{
    background: #F2F2F2;
    width: 100%;
    height: 100%;
}


.scTop{
    width: 100%;
    padding:8% 0 6%;
    background: #64a9e9;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.title{
    font-family: "Microsoft YaHei";
    font-size: 1.3em;
    font-weight: 200;
}

.back{
    position: absolute;
    width: 0.85em;
    height: auto;
    left: 5%;
    top: 45%;
    color: #ffffff;
}

.content{
    overflow: auto;
}

 .order{
    width: 100%;
    height: 35.21%;
    background-color: #fafafa;
     margin-top: 2em;
}

 .message{
     background: none;
     position: relative;
     width:100%;
 }
 .lastborder{
     width: 92%;
     padding: .7em 4%;
     overflow: auto;
     height: 100%;

 }
.border{
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
    width: 92%;
    padding: .7em 4%;
    overflow: hidden;
    clear:both;
    height: 100%;
}
.message input{
    border: none;
    color: #646464;
    background-color: #fafafa;
    height: 99%;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    text-indent: 0.2em;
    display: block;
    outline: 0;
    width: 70%;
    text-decoration: none;
}

.message .name{
    float:left;
    width:30%;
}

.message .ctnt{
    float: left;
    width: 70%;
}

select{
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: #909093;
    border: solid 1px #909093;
    font-family: "Microsoft YaHei";
    border: 0; background: transparent;
}

.submit{
    width: 84%;
    height: 3em;
    margin: 7% 8%;
    background: #64a9e9;
    color: #ffffff;
    border: 0;
    padding: 3.25% 0;
    font-size: 1em;
    font-family: "YouYuan";
    border-radius: 3px;
    text-align: center;
}

.shortcut1{
    position: fixed;
    top: 0%;
    width: 100%;
}
.content{
    margin-top: 16%;
    z-index: -1111111;
    position: relative;
}

.teachers{

    height: auto;
}
.teachers .title{
    margin: 4% 4%;
}
.teachers .border{
    display: flex;

    align-items: center;
    border: none;
    padding: .25em 0;
}
.teachers .border+.border{
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}
.teacher .wrap{
    padding-left: 4%;
    width: 100%;
    display: flex;
    align-items: center;
}
.teacher .wrap .avatar{
    background: #000;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    margin-right:1em;
}
.teacher .wrap .intro {
    width: 70%;
}
.teacher .wrap .intro span{
    word-wrap: break-word;
}
.teacher .wrap .intro span+span{
    margin-left: .5em;
}
.teacher .button{
    width: 40px;
}




