
.ng-cloak{display:none;}
body{
    background-color: #E0E0E0 !important;
}
.scTop{
    width: 100%;
    padding:8% 0 6% 0%;
    background: #64a9e9;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.title{
    font-family: "Microsoft YaHei";
    font-size: 1.3em;
    font-weight: 200;
}
.back{
    position: absolute;
    width: 0.85em;
    height: auto;
    left: 5%;
    top: 45%;
    color: #ffffff;
}
.lastborder{
    width: 92%;
    margin: 0% 4%;
    overflow: auto;
    height: 100%;
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}
.content{
    overflow: auto;
    height:auto;
    background-color: #E0E0E0;
}
.sec{
    width: 100%;
    background-color: #fafafa;
    margin-top: 1em;
    padding: 1em 0;
}

.message{
    display:flex;
    background: none;
    position: relative;
    width: 90%;
    height: 3em;
    margin-left: 5%;
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}
.message2{
    background: none;
    position: relative;
    width:95%;
    height: 6em;
}

.name{
    width: 30%;
    display: flex;
    align-items: center;
}

.message .ctnt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 0.9%;
}
.message2 .ctnt{
    float: left;
    width: 70%;
    height: 90%;
    margin-top: 0.9%;
}
select{
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: #909093;
    border: solid 1px #909093;
    font-family: "Microsoft YaHei";
    border: 0; background: transparent;
}
.message input{
    border: none;
    color: #646464;
    background-color: #fafafa;
    height: 99%;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    text-indent: 0.2em;
    display: block;
    outline: 0;
    width: 98%;
    text-decoration: none;
    margin: 0 !important;
}
.bottom{
    bottom: 0;
    background: #64a9e9;
    height:1.5em;
    width:100%;
    padding:5% 0% 5%;
    text-align: center;
    color:#ffffff;
    font-size:130%;
    position: relative;
}

.des{
    display: flex;
    align-items: center;
    margin-left: 3%;
}